/* Header.css */

.header {
  color: white;
  background-color: #2563eb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  flex-wrap: nowrap; /* prevent wrapping in desktop view */
}

.header-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Navigation */
.nav-links {
 display: flex;
  gap: 20px;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  padding: 4px 8px;
  border-radius: 4px;
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* User Info & Logout */
.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 0.9rem;
  justify-content: flex-end;
  
}

.logout-btn {
  background-color: white;
  color: #2563eb;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.logout-btn:hover {
  background-color: #f1f5f9;
}

/* Responsive styles */
@media (max-width: 768px) {
  .header {
    flex-wrap: wrap;
  }
  .menu-toggle{
    display: block;
  }
  .header-left{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 12px;
  }

  .nav-links.open {
    display: flex;
  }

  .user-info {
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
    padding-top: 8px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
}

